---
// component Import
import MainHead from './MainHead.astro'

// style import
import "../styles/global.css"

const {title="My Astro Blog", description="Lorem ipsum dolor sit amet"} = Astro.props 
---


<html lang="en">
  <MainHead {title} {description}/>
	<body>
    <slot>
      
    </slot>
  </body>
</html>
